@import url("https://fonts.googleapis.com/css?family=Poppins");

.nav{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 80%;
    justify-content: center;
    align-items: flex-end;
    border: 0px solid #4D4D4D;
    border-bottom-width: 2px;
    color: #4D4D4D;
}
.glensoundsTitle{
    font-family: 'Poppins';
    font-weight: bolder;
    display: flex;
    margin-right: auto;
    margin-left: 0.1vw;
    margin-bottom: 1.2vh;
    color: #F9E602;
}
.navItem{
    display: flex;
    font-family: 'Poppins';
    font-size: 18px;
    margin-left: 4vw;
    cursor: pointer;
    height: 4vh;
    border: 0px solid #4D4D4D;
}
.activeNavItem{
    color: #F9E602;
    text-decoration: none;
}
.navItem:hover{
    color: #F9E602;
    border-bottom-width: 12px;
}
a{
    text-decoration: none;
    color: #4D4D4D;}/* Customize the columns in the footer */.footer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
font-family: 'Poppins', sans-serif;
}
  
/* FOOTER Style individual columns */
.footer-column {
flex-basis: calc(25% - 1rem); /* Adjust the width as needed */
padding: 1rem;
text-align: left;
color: #676767;
}
  
/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
.footer-column {
    flex-basis: calc(50% - 1rem); /* Adjust the width for smaller screens */
}
}
  
/* Customize the columns in the footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #676767; /* Set the text color to #676767 */
  }
  
  /* Style individual columns */
  .footer-column {
    flex-basis: calc(25% - 1rem); /* Adjust the width as needed */
    padding: 1rem;
    text-align: left;
  }
  
  /* Add responsive styles for smaller screens */
  @media (max-width: 768px) {
    .footer-column {
      flex-basis: calc(50% - 1rem); /* Adjust the width for smaller screens */
    }
  }
  
  /* Style the social icons */
  .social-link {
    margin-top: 1rem;
  }
  
  /* Center-align the logo in the footer */
  .logo {
    text-align: center;
  }
  
  /* Style the bottom section */
  .bottom-section {
    background-color: black; /* Change the background color to black */
    padding: 1rem;
    text-align: center;
  }
  